body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.total-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.maxWidth {
  width: 1200px;
  /* max-width: 1200px; */
}
.flex-column {
  flex-direction: column;
}

.opacity:hover {
  opacity: 0.4;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* SLIDER DE CONTACTOS ******************************/
.cardServicesSlider .slick-slide,
.cardServicesSlider .slick-active,
.cardServicesSlider .slick-current {
  display: flex;
  justify-content: center;
}
.cardServicesSlider .slick-next,
.cardServicesSlider .slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: black;
  border: none;
  outline: 0;
  background: transparent;
  border-radius: 50%;
  opacity: 0.6;
  z-index: 99999;
}
.cardServicesSlider .slick-next {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translate(0, -50%);
  cursor: pointer;
  color: black;
  border: none;
  outline: 0;
  background: transparent;
  /* border-radius: 50%;*/
  opacity: 0.6;
  margin-right: 80px;
}
.cardServicesSlider .slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translate(0, -50%);
  cursor: pointer;
  color: black;
  border: none;
  outline: 0;
  background: transparent;
  /*border-radius: 50%;*/
  opacity: 0.6;
  margin-left: 80px;
  z-index: 99999;

  opacity: 0.6;
}
.cardServicesSlider .slick-next:before,
.cardServicesSlider .slick-prev:before {
  font-size: 25px;
  line-height: 1;
  opacity: 0.6;
  color: black;
  background: transparent;
}
.cardServicesSlider .slick-dots {
  bottom: -25px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
  display: flex !important;
  justify-content: center !important;
}
.cardServicesSlider .slick-next.slick-disabled:before,
.cardServicesSlider .slick-prev.slick-disabled:before {
  opacity: 0.25;
  display: none;
}
@media (max-width: 1150px) {
  .cardServicesSlider .slick-prev {
    margin-left: 40px;
  }
}
@media (max-width: 1150px) {
  .cardServicesSlider .slick-next {
    margin-right: 40px;
  }
}
@media (max-width: 992px) {
  .cardServicesSlider .slick-prev {
    margin-left: 100px;
  }
}
@media (max-width: 992px) {
  .cardServicesSlider .slick-next {
    margin-right: 100px;
  }
}
@media (max-width: 720px) {
  .cardServicesSlider .slick-prev {
    margin-left: 60px;
  }
}
@media (max-width: 720px) {
  .cardServicesSlider .slick-next {
    margin-right: 60px;
  }
}
@media (max-width: 620px) {
  .cardServicesSlider .slick-prev {
    margin-left: 25px;
  }
}
@media (max-width: 620px) {
  .cardServicesSlider .slick-next {
    margin-right: 25px;
  }
}
